<ion-header>
  <ion-toolbar>
    <ion-title>
      LNT
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Getting data from the backend</h1>
  <div *ngFor="let opportunity of targetList">
    {{ opportunity.name }}
  </div>
</ion-content>
